﻿@page "/"
@using Microsoft.Extensions.Localization
@using Quirco.PoLocalizer.Abstractions.Extensions
@inject IStringLocalizer<Index> Localizer

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app: localized string: @Localizer["Test string"]

<p>
    <h4>Pluralization</h4>
    <div>@Localizer.Plural(1, "One book", "{0} books")</div> 
    <div>@Localizer.Plural(2, "One book", "{0} books")</div>
    <div>@Localizer.Plural(5, "One book", "{0} books")</div>
</p>
